ray==2.9.1
torch==2.0.1
transformers==4.38.2  # Required for StarCoder2 & Llava.
triton==2.0.0
xformers==0.0.22  # the latest version, since 0.0.22.post7 requires torch>=2.1.0
#
ninja  # For faster builds.
psutil
sentencepiece  # Required for LLaMA tokenizer.
numpy
fastapi
uvicorn[standard]
aioprometheus[starlette]
pydantic>=2.0  # Required for OpenAI server.
prometheus_client>=0.18.0
pynvml==11.5.0
outlines
cupy-cuda11x
